In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2022-ai-tp-19011845/sample.csv
/kaggle/input/2022-ai-tp-19011845/train.csv
/kaggle/input/2022-ai-tp-19011845/test.csv

# 1) 랜덤시드 고정

In [2]:
import torch
import torch.optim as optim
import torchvision.transforms as transforms
import random

device = 'cuda' if torch.cuda.is_available() else 'cpu'


random.seed(42)
torch.manual_seed(42)
if device == 'cuda':
    torch.cuda.manual_seed_all(42)
    torch.cuda.manual_seed_all(42)
    print("cuda")
    
torch.backends.cudnn.benchmark = False
torch.backends.cudnn.deterministic = True

cuda

# 2) 데이터 셋 불러오기

In [3]:
test = pd.DataFrame(pd.read_csv('/kaggle/input/2022-ai-tp-19011845/test.csv',engine='python',encoding='CP949'))
train = pd.DataFrame(pd.read_csv('/kaggle/input/2022-ai-tp-19011845/train.csv',engine='python',encoding='CP949'))
sample = pd.DataFrame(pd.read_csv('/kaggle/input/2022-ai-tp-19011845/sample.csv',engine='python',encoding='CP949'))

In [4]:
train

,업무일자,역명,승하차,사용자,시각,평균기온(℃),최고기온(℃),최저기온(℃),강수량(mm),평균습도(%rh),탑승인원
0,2019-03-07,목동,승차,어린이,8시,7.0,12.7,3.1,NaN,51.1,0
1,2019-11-20,올림픽공원(한국체대),하차,중고생,21시,0.5,6.3,-4.6,NaN,35.5,0
2,2019-03-09,목동,승차,어린이,12시,7.2,14.9,-0.4,NaN,31.8,19
3,2019-07-07,상일동,하차,일반,8시,26.7,32.5,22.7,NaN,43.3,97
4,2019-05-17,여의나루,승차,우대권,16시,23.6,28.3,17.6,NaN,44.9,99
...,...,...,...,...,...,...,...,...,...,...,...
99995,2019-11-16,마포,하차,외국인,13시,6.8,12.7,3.8,NaN,81.3,2
99996,2019-08-21,김포공항,하차,일반,00시,27.0,30.4,24.4,1.3,67.3,14
99997,2019-02-23,행당,승차,청소년,18시,6.8,14.5,0.5,NaN,41.0,19
99998,2019-05-14,여의나루,하차,중고생,12시,19.6,26.9,12.9,NaN,44.5,0
99999,2019-01-14,광화문(세종문화회관),승차,우대권,13시,1.4,5.3,-2.4,NaN,68.6,218

In [5]:
sample

      index  predict
0         1        0
1         2        0
2         3        0
3         4        0
4         5        0
...     ...      ...
9995   9996        0
9996   9997        0
9997   9998        0
9998   9999        0
9999  10000        0

[10000 rows x 2 columns]

# 3) 데이터전처리
* train 데이터 x, y 분리
* 업무일자열 월, 일로 분리
* 시각 데이터를 문자열에서 int형으로 전환
* 범주형 데이터 처리
* 데이터 정규화

In [6]:
# train 데이터 x, y 분리
train_y = train['탑승인원']
train_x = train.drop('탑승인원', axis = 1)

In [7]:
# train 데이터 업무일자 월, 일로 나누기
date_list = list(train_x['업무일자'])
month = []
date = []

for day in date_list:
    month.append(int(day[5:7]))
    date.append(int(day[8:10]))
    
train_x['월'] = month
train_x['일'] = date

train_x = train_x.drop('업무일자',axis = 1)
train_x

,역명,승하차,사용자,시각,평균기온(℃),최고기온(℃),최저기온(℃),강수량(mm),평균습도(%rh),월,일
0,목동,승차,어린이,8시,7.0,12.7,3.1,NaN,51.1,3,7
1,올림픽공원(한국체대),하차,중고생,21시,0.5,6.3,-4.6,NaN,35.5,11,20
2,목동,승차,어린이,12시,7.2,14.9,-0.4,NaN,31.8,3,9
3,상일동,하차,일반,8시,26.7,32.5,22.7,NaN,43.3,7,7
4,여의나루,승차,우대권,16시,23.6,28.3,17.6,NaN,44.9,5,17
...,...,...,...,...,...,...,...,...,...,...,...
99995,마포,하차,외국인,13시,6.8,12.7,3.8,NaN,81.3,11,16
99996,김포공항,하차,일반,00시,27.0,30.4,24.4,1.3,67.3,8,21
99997,행당,승차,청소년,18시,6.8,14.5,0.5,NaN,41.0,2,23
99998,여의나루,하차,중고생,12시,19.6,26.9,12.9,NaN,44.5,5,14
99999,광화문(세종문화회관),승차,우대권,13시,1.4,5.3,-2.4,NaN,68.6,1,14

In [8]:
# test 데이터 업무일자 월, 일로 나누기
date_list = list(test['업무일자'])
month = []
date = []

for day in date_list:
    month.append(int(day[5:7]))
    date.append(int(day[8:10]))
    
test['월'] = month
test['일'] = date

test = test.drop('업무일자',axis = 1)
test

,역명,승하차,사용자,시각,평균기온(℃),최고기온(℃),최저기온(℃),강수량(mm),평균습도(%rh),월,일
0,신길,하차,어린이,8시,1.4,3.0,0.2,4.6,80.8,2,19
1,종로3가,하차,우대권,17시,13.6,20.4,7.7,NaN,48.3,10,9
2,천호(풍납토성),승차,어린이,9시,-0.3,4.0,-3.2,0.0,45.8,1,17
3,오목교(목동운동장앞),승차,일반,17시,11.6,16.2,8.9,NaN,66.4,3,27
4,거여,하차,청소년,12시,1.7,7.1,-3.3,NaN,62.0,1,22
...,...,...,...,...,...,...,...,...,...,...,...
9995,마곡,승차,일반,17시,4.0,10.8,-1.6,NaN,56.1,2,22
9996,광화문(세종문화회관),하차,우대권,15시,-1.8,4.6,-6.8,NaN,47.4,2,17
9997,목동,하차,중고생,6시,23.9,28.9,20.6,NaN,64.4,7,1
9998,광화문(세종문화회관),하차,우대권,17시,18.9,23.7,14.8,NaN,60.5,6,1
9999,우장산,하차,우대권,9시,25.4,32.8,20.0,NaN,59.6,7,4

In [9]:
set(train_x['시각'])

{'00시',
 '10시',
 '11시',
 '12시',
 '13시',
 '14시',
 '15시',
 '16시',
 '17시',
 '18시',
 '19시',
 '20시',
 '21시',
 '22시',
 '6시',
 '7시',
 '8시',
 '9시'}

In [10]:
#시각 전처리

t = train_x
time_list = []
for time in t['시각']:
    if time == "00시":
        time_list.append(0)
        continue
    
    idx = 0
    for i in range(1, 23):
        s = str(i)+"시"
        if s == time:
            time_list.append(i)
            idx = 1
            break
    
    if idx == 0:
        print(time)
        
train_x['시각'] = time_list

In [11]:
#Test 시각 전처리

t = test
time_list = []
for time in t['시각']:
    if time == "00시":
        time_list.append(0)
        continue
    
    idx = 0
    for i in range(1, 23):
        s = str(i)+"시"
        if s == time:
            time_list.append(i)
            idx = 1
            break
    
    if idx == 0:
        print(time)
        
test['시각'] = time_list

test

,역명,승하차,사용자,시각,평균기온(℃),최고기온(℃),최저기온(℃),강수량(mm),평균습도(%rh),월,일
0,신길,하차,어린이,8,1.4,3.0,0.2,4.6,80.8,2,19
1,종로3가,하차,우대권,17,13.6,20.4,7.7,NaN,48.3,10,9
2,천호(풍납토성),승차,어린이,9,-0.3,4.0,-3.2,0.0,45.8,1,17
3,오목교(목동운동장앞),승차,일반,17,11.6,16.2,8.9,NaN,66.4,3,27
4,거여,하차,청소년,12,1.7,7.1,-3.3,NaN,62.0,1,22
...,...,...,...,...,...,...,...,...,...,...,...
9995,마곡,승차,일반,17,4.0,10.8,-1.6,NaN,56.1,2,22
9996,광화문(세종문화회관),하차,우대권,15,-1.8,4.6,-6.8,NaN,47.4,2,17
9997,목동,하차,중고생,6,23.9,28.9,20.6,NaN,64.4,7,1
9998,광화문(세종문화회관),하차,우대권,17,18.9,23.7,14.8,NaN,60.5,6,1
9999,우장산,하차,우대권,9,25.4,32.8,20.0,NaN,59.6,7,4

In [12]:
len(set(train_x['사용자']))

7

In [13]:
from sklearn.preprocessing import LabelEncoder
encoder_station = LabelEncoder()
encoder_on_off = LabelEncoder()
encoder_user = LabelEncoder()

train_x['역명'] = encoder_station.fit_transform(train_x['역명'])
test['역명'] = encoder_station.transform(test['역명'])

train_x['승하차'] = encoder_on_off.fit_transform(train_x['승하차'])
test['승하차'] = encoder_on_off.transform(test['승하차'])

train_x['사용자'] = encoder_user.fit_transform(train_x['사용자'])
test['사용자'] = encoder_user.transform(test['사용자'])

In [14]:
#nan 값 데이터 처리
train_x['강수량(mm)'] = train_x['강수량(mm)'].fillna(value = 0)
test['강수량(mm)'] =  test['강수량(mm)'].fillna(value = 0)

In [15]:
display(train_x)
display(test)

       역명  승하차  사용자  시각  평균기온(℃)  최고기온(℃)  최저기온(℃)  강수량(mm)  평균습도(%rh)   월   일
0      21    0    1   8      7.0     12.7      3.1      0.0       51.1   3   7
1      40    1    5  21      0.5      6.3     -4.6      0.0       35.5  11  20
2      21    0    1  12      7.2     14.9     -0.4      0.0       31.8   3   9
3      25    1    4   8     26.7     32.5     22.7      0.0       43.3   7   7
4      34    0    3  16     23.6     28.3     17.6      0.0       44.9   5  17
...    ..  ...  ...  ..      ...      ...      ...      ...        ...  ..  ..
99995  19    1    2  13      6.8     12.7      3.8      0.0       81.3  11  16
99996  11    1    4   0     27.0     30.4     24.4      1.3       67.3   8  21
99997  49    0    6  18      6.8     14.5      0.5      0.0       41.0   2  23
99998  34    1    5  12     19.6     26.9     12.9      0.0       44.5   5  14
99999   7    0    3  13      1.4      5.3     -2.4      0.0       68.6   1  14

[100000 rows x 11 columns]

      역명  승하차  사용자  시각  평균기온(℃)  최고기온(℃)  최저기온(℃)  강수량(mm)  평균습도(%rh)   월   일
0     29    1    1   8      1.4      3.0      0.2      4.6       80.8   2  19
1     45    1    3  17     13.6     20.4      7.7      0.0       48.3  10   9
2     46    0    1   9     -0.3      4.0     -3.2      0.0       45.8   1  17
3     39    0    4  17     11.6     16.2      8.9      0.0       66.4   3  27
4      3    1    6  12      1.7      7.1     -3.3      0.0       62.0   1  22
...   ..  ...  ...  ..      ...      ...      ...      ...        ...  ..  ..
9995  16    0    4  17      4.0     10.8     -1.6      0.0       56.1   2  22
9996   7    1    3  15     -1.8      4.6     -6.8      0.0       47.4   2  17
9997  21    1    5   6     23.9     28.9     20.6      0.0       64.4   7   1
9998   7    1    3  17     18.9     23.7     14.8      0.0       60.5   6   1
9999  42    1    3   9     25.4     32.8     20.0      0.0       59.6   7   4

[10000 rows x 11 columns]

In [16]:
from sklearn.preprocessing import StandardScaler
S = StandardScaler()
train_x_std = S.fit_transform(train_x)
test_std = S.transform(test)

In [17]:
x_train = torch.FloatTensor(train_x_std)
x_test = torch.FloatTensor(test_std)
y_train = torch.FloatTensor(train_y.values)

y_train = y_train.view([-1, 1])

# 4) 학습 모델 설정
* 파라미터 설정
* layer 5개 이용

In [18]:
# 학습 파라미터 설정
learning_rate = 0.0001
training_epochs = 500
batch_size = 100
drop_prob = 0.01

In [19]:
from torch.utils.data import  TensorDataset, DataLoader
dataSet = TensorDataset(x_train, y_train)
data_loader = torch.utils.data.DataLoader(dataset=dataSet,
                                          batch_size=batch_size,
                                          shuffle=True,
                                          drop_last=True)
data_loader

In [20]:
linear1 = torch.nn.Linear(11,1000,bias=True)
linear2 = torch.nn.Linear(1000,1000,bias=True)
linear3 = torch.nn.Linear(1000,1000,bias=True)
linear4 = torch.nn.Linear(1000,1000,bias=True)
linear5 = torch.nn.Linear(1000,1,bias=True)
relu = torch.nn.ReLU()
dropout = torch.nn.Dropout(p=drop_prob)

# Random Init => Xavier Init
torch.nn.init.xavier_uniform_(linear1.weight)
torch.nn.init.xavier_uniform_(linear2.weight)
torch.nn.init.xavier_uniform_(linear3.weight)
torch.nn.init.xavier_uniform_(linear4.weight)
torch.nn.init.xavier_uniform_(linear5.weight)

Parameter containing:
tensor([[-0.0406, -0.0696, -0.0539,  0.0641,  0.0737, -0.0194, -0.0180, -0.0095,
          0.0004, -0.0370, -0.0296, -0.0252,  0.0603,  0.0195,  0.0390,  0.0443,
         -0.0517,  0.0682, -0.0463, -0.0073,  0.0268, -0.0403, -0.0698, -0.0125,
          0.0451,  0.0485, -0.0179, -0.0243, -0.0179,  0.0148, -0.0064, -0.0108,
          0.0330, -0.0018, -0.0491,  0.0594, -0.0662, -0.0730,  0.0004, -0.0398,
          0.0305,  0.0435,  0.0138,  0.0291, -0.0494,  0.0145,  0.0197,  0.0572,
          0.0580,  0.0655, -0.0058, -0.0597, -0.0705, -0.0153,  0.0091, -0.0128,
          0.0256,  0.0664, -0.0217,  0.0527,  0.0487, -0.0702,  0.0267, -0.0053,
         -0.0635, -0.0156, -0.0521,  0.0593,  0.0652,  0.0252,  0.0733, -0.0364,
         -0.0393, -0.0337,  0.0670,  0.0238, -0.0317, -0.0576, -0.0108, -0.0430,
         -0.0268, -0.0545, -0.0235,  0.0516,  0.0536,  0.0122, -0.0736, -0.0134,
          0.0428,  0.0049,  0.0238, -0.0023,  0.0259, -0.0045,  0.0710, -0.0748,
         -0.0013, -0.0370,  0.0583, -0.0068, -0.0445,  0.0346,  0.0221,  0.0274,
         -0.0426,  0.0248, -0.0211, -0.0320,  0.0106,  0.0702,  0.0304, -0.0017,
          0.0084,  0.0014,  0.0195,  0.0203, -0.0699, -0.0649, -0.0738, -0.0290,
          0.0293, -0.0343, -0.0142,  0.0585, -0.0645,  0.0463,  0.0620,  0.0344,
          0.0599,  0.0433,  0.0030,  0.0446,  0.0157,  0.0496, -0.0745,  0.0151,
          0.0717, -0.0407, -0.0390,  0.0248,  0.0233, -0.0371, -0.0136, -0.0663,
          0.0322,  0.0156, -0.0239, -0.0219,  0.0348,  0.0316, -0.0303, -0.0004,
          0.0386, -0.0277,  0.0728, -0.0466, -0.0685, -0.0153, -0.0421, -0.0756,
          0.0284,  0.0213,  0.0464,  0.0313,  0.0589, -0.0476,  0.0206, -0.0226,
         -0.0179, -0.0390,  0.0468, -0.0051, -0.0386,  0.0644,  0.0655, -0.0265,
          0.0180, -0.0217,  0.0529,  0.0773,  0.0268,  0.0352,  0.0573,  0.0246,
          0.0552, -0.0079, -0.0764,  0.0706, -0.0095,  0.0333,  0.0204,  0.0388,
         -0.0245,  0.0637,  0.0299,  0.0228,  0.0547, -0.0018,  0.0674,  0.0567,
         -0.0677, -0.0368,  0.0046,  0.0075, -0.0163,  0.0058,  0.0337, -0.0344,
          0.0759,  0.0615, -0.0582, -0.0103, -0.0134,  0.0178, -0.0389,  0.0178,
         -0.0247, -0.0299,  0.0608,  0.0498, -0.0625, -0.0655, -0.0308,  0.0481,
          0.0134,  0.0081, -0.0233, -0.0057, -0.0738, -0.0557,  0.0696,  0.0594,
          0.0648,  0.0399,  0.0317, -0.0532, -0.0647,  0.0059, -0.0382,  0.0028,
         -0.0313, -0.0244,  0.0623, -0.0690,  0.0177, -0.0342, -0.0633, -0.0515,
          0.0016,  0.0124, -0.0167,  0.0355,  0.0643,  0.0253,  0.0751,  0.0728,
         -0.0659, -0.0773, -0.0307, -0.0209, -0.0408, -0.0182, -0.0317,  0.0212,
         -0.0340, -0.0046,  0.0449,  0.0480,  0.0229, -0.0003, -0.0540, -0.0371,
          0.0553,  0.0102, -0.0170,  0.0233, -0.0766,  0.0142,  0.0028, -0.0323,
         -0.0287, -0.0759, -0.0667,  0.0310,  0.0505, -0.0422, -0.0684,  0.0088,
         -0.0137,  0.0554,  0.0525, -0.0579,  0.0039, -0.0656,  0.0217, -0.0204,
         -0.0101,  0.0764,  0.0501,  0.0557,  0.0238,  0.0250, -0.0475,  0.0082,
         -0.0718, -0.0341, -0.0026,  0.0662, -0.0489, -0.0528, -0.0582,  0.0517,
          0.0121, -0.0509,  0.0051,  0.0682, -0.0333,  0.0268,  0.0504, -0.0006,
         -0.0442, -0.0369,  0.0309, -0.0380, -0.0208, -0.0501,  0.0134,  0.0046,
         -0.0541,  0.0105,  0.0141,  0.0086,  0.0143,  0.0061,  0.0660,  0.0602,
          0.0192, -0.0058,  0.0722, -0.0234,  0.0185,  0.0504, -0.0592,  0.0471,
          0.0124, -0.0173, -0.0199, -0.0743, -0.0667,  0.0475,  0.0629,  0.0758,
          0.0769, -0.0463,  0.0357, -0.0417,  0.0189,  0.0721,  0.0553, -0.0665,
         -0.0533, -0.0431,  0.0173, -0.0278, -0.0503,  0.0143,  0.0071, -0.0335,
          0.0509, -0.0386,  0.0244,  0.0736, -0.0475, -0.0402,  0.0419,  0.0573,
          0.0227,  0.0430,  0.0412,  0.0414, -0.0172, -0.0547,  0.0530,  0.0030,
          0.0139, -0.0346, -0.0489, -0.0720,  0.0189, -0.0219,  0.0473,  0.0635,
          0.0233,  0.0743, -0.0107, -0.0726, -0.0335, -0.0481,  0.0346, -0.0400,
          0.0573, -0.0465, -0.0099,  0.0024,  0.0030, -0.0442, -0.0079, -0.0753,
         -0.0511,  0.0631, -0.0429, -0.0434, -0.0312,  0.0229, -0.0603,  0.0459,
          0.0153, -0.0691,  0.0283, -0.0194,  0.0093,  0.0513,  0.0768,  0.0338,
          0.0335, -0.0358, -0.0587, -0.0387,  0.0507, -0.0323, -0.0410,  0.0336,
         -0.0068, -0.0622, -0.0244, -0.0211,  0.0139,  0.0159,  0.0360,  0.0046,
         -0.0334, -0.0071,  0.0488, -0.0411,  0.0236, -0.0159,  0.0521,  0.0308,
         -0.0459, -0.0313, -0.0585, -0.0407,  0.0302,  0.0025,  0.0038,  0.0448,
         -0.0467,  0.0322,  0.0107, -0.0339, -0.0333, -0.0571,  0.0127,  0.0536,
         -0.0231, -0.0452, -0.0056,  0.0681,  0.0526, -0.0612,  0.0234,  0.0122,
          0.0444, -0.0257,  0.0495, -0.0249,  0.0398, -0.0439, -0.0175, -0.0767,
         -0.0421, -0.0142, -0.0113, -0.0060, -0.0700,  0.0162,  0.0659, -0.0057,
         -0.0643, -0.0698, -0.0153,  0.0126,  0.0200,  0.0587,  0.0657, -0.0007,
         -0.0627, -0.0010, -0.0755,  0.0284,  0.0332, -0.0181,  0.0081, -0.0721,
          0.0071,  0.0505,  0.0663,  0.0298, -0.0016,  0.0307,  0.0249, -0.0689,
          0.0399, -0.0446, -0.0323,  0.0523,  0.0611,  0.0482, -0.0522,  0.0366,
         -0.0752, -0.0556,  0.0261, -0.0116,  0.0346,  0.0575, -0.0164, -0.0078,
         -0.0050,  0.0495, -0.0548,  0.0607,  0.0273, -0.0139, -0.0583, -0.0509,
         -0.0015, -0.0014, -0.0583, -0.0533, -0.0378,  0.0517,  0.0416,  0.0052,
          0.0716, -0.0230,  0.0703, -0.0680, -0.0504,  0.0295, -0.0245, -0.0354,
         -0.0318,  0.0563,  0.0330, -0.0030,  0.0597,  0.0550, -0.0082, -0.0619,
         -0.0517, -0.0271, -0.0177, -0.0329, -0.0621,  0.0545, -0.0719, -0.0157,
          0.0146,  0.0168,  0.0578, -0.0509, -0.0035,  0.0238,  0.0605,  0.0251,
          0.0610, -0.0536,  0.0513,  0.0342,  0.0125, -0.0040, -0.0221, -0.0111,
         -0.0106,  0.0570, -0.0454, -0.0130,  0.0649,  0.0560,  0.0726, -0.0411,
         -0.0310,  0.0489,  0.0762, -0.0571, -0.0235, -0.0665, -0.0425,  0.0592,
          0.0250,  0.0093,  0.0374,  0.0405, -0.0439,  0.0256, -0.0676,  0.0291,
          0.0276, -0.0469,  0.0470, -0.0715,  0.0050,  0.0039, -0.0435, -0.0024,
         -0.0363,  0.0298,  0.0641, -0.0723, -0.0615, -0.0386, -0.0443,  0.0544,
         -0.0476,  0.0149, -0.0371, -0.0683, -0.0515, -0.0768,  0.0744, -0.0529,
         -0.0219,  0.0460, -0.0674,  0.0490,  0.0554,  0.0474,  0.0238, -0.0415,
          0.0107, -0.0634,  0.0410,  0.0505, -0.0081, -0.0190, -0.0551, -0.0279,
          0.0639, -0.0634,  0.0643, -0.0189, -0.0422,  0.0182,  0.0431, -0.0070,
         -0.0361,  0.0503, -0.0562,  0.0159, -0.0225, -0.0108, -0.0378,  0.0308,
          0.0352,  0.0638,  0.0207,  0.0070,  0.0092,  0.0126,  0.0415, -0.0117,
         -0.0412, -0.0254, -0.0255, -0.0494,  0.0292, -0.0127,  0.0454,  0.0547,
         -0.0334, -0.0462, -0.0610,  0.0140, -0.0467, -0.0766, -0.0195, -0.0020,
          0.0621, -0.0280,  0.0259, -0.0423,  0.0685,  0.0706,  0.0163, -0.0298,
         -0.0044,  0.0446, -0.0394,  0.0435, -0.0275,  0.0207,  0.0153, -0.0065,
          0.0438,  0.0120, -0.0672, -0.0234,  0.0020,  0.0563,  0.0023,  0.0149,
         -0.0125, -0.0063, -0.0097,  0.0575,  0.0472,  0.0600, -0.0464, -0.0598,
         -0.0709,  0.0260,  0.0306,  0.0188, -0.0068, -0.0755, -0.0014,  0.0212,
          0.0287,  0.0398, -0.0160, -0.0310, -0.0221,  0.0206, -0.0375, -0.0279,
          0.0535,  0.0702,  0.0678, -0.0390, -0.0234,  0.0104,  0.0574, -0.0039,
         -0.0361,  0.0083,  0.0161,  0.0733, -0.0271,  0.0698, -0.0288,  0.0188,
         -0.0419, -0.0095, -0.0038,  0.0533,  0.0105, -0.0337, -0.0622, -0.0333,
          0.0296,  0.0405, -0.0472, -0.0497, -0.0041,  0.0551, -0.0731, -0.0513,
          0.0403, -0.0538,  0.0600,  0.0403,  0.0016,  0.0345,  0.0471, -0.0092,
          0.0233, -0.0113, -0.0120,  0.0411, -0.0251, -0.0765,  0.0232, -0.0131,
         -0.0357,  0.0072, -0.0347,  0.0164, -0.0134,  0.0172, -0.0774,  0.0110,
          0.0130,  0.0258, -0.0562,  0.0605,  0.0394,  0.0246, -0.0170,  0.0029,
         -0.0212, -0.0712,  0.0543,  0.0157, -0.0639, -0.0617, -0.0467, -0.0189,
          0.0102, -0.0402, -0.0421,  0.0363, -0.0683,  0.0472, -0.0254,  0.0395,
          0.0578,  0.0435,  0.0173, -0.0383, -0.0742,  0.0753,  0.0159,  0.0380,
         -0.0247,  0.0327,  0.0717, -0.0417,  0.0418, -0.0286,  0.0300, -0.0556,
          0.0019, -0.0218, -0.0389, -0.0134,  0.0695,  0.0442,  0.0503, -0.0770,
         -0.0352,  0.0079, -0.0468,  0.0552,  0.0253,  0.0570,  0.0265,  0.0578,
         -0.0435, -0.0330, -0.0117,  0.0562,  0.0530,  0.0115,  0.0509, -0.0081,
          0.0644, -0.0378,  0.0418,  0.0062,  0.0600, -0.0425,  0.0510, -0.0184,
         -0.0256,  0.0152, -0.0761, -0.0519,  0.0233,  0.0286, -0.0526, -0.0343,
         -0.0368, -0.0495, -0.0134, -0.0425, -0.0268, -0.0594, -0.0214, -0.0190,
          0.0487, -0.0241,  0.0085, -0.0019, -0.0161, -0.0241,  0.0201, -0.0217,
          0.0683,  0.0247, -0.0110,  0.0133, -0.0258,  0.0218, -0.0651, -0.0323,
         -0.0066,  0.0744,  0.0640,  0.0306, -0.0096,  0.0710, -0.0695, -0.0231,
          0.0144,  0.0042,  0.0531, -0.0013,  0.0577,  0.0712, -0.0467, -0.0581,
          0.0437, -0.0640, -0.0376, -0.0036,  0.0594, -0.0311, -0.0362,  0.0386,
         -0.0084,  0.0526, -0.0640,  0.0498, -0.0757, -0.0081,  0.0354,  0.0262,
         -0.0035, -0.0001,  0.0559,  0.0276, -0.0206,  0.0654, -0.0667,  0.0484,
          0.0254, -0.0466, -0.0135,  0.0011,  0.0422, -0.0024,  0.0157, -0.0625,
          0.0649, -0.0129,  0.0147, -0.0326, -0.0133, -0.0386,  0.0503,  0.0013,
         -0.0476, -0.0499,  0.0716, -0.0175,  0.0204, -0.0245,  0.0226, -0.0371,
          0.0011,  0.0628,  0.0577, -0.0448, -0.0121, -0.0751, -0.0233, -0.0119,
          0.0705,  0.0373,  0.0678,  0.0113, -0.0021, -0.0725,  0.0577,  0.0632,
          0.0589, -0.0581,  0.0359,  0.0511,  0.0096, -0.0630, -0.0032,  0.0539,
          0.0439, -0.0227,  0.0628, -0.0356, -0.0121,  0.0771, -0.0012, -0.0518,
         -0.0690,  0.0124, -0.0617, -0.0025,  0.0532, -0.0599, -0.0165,  0.0461]],
       requires_grad=True)

In [21]:
# ======================================
# relu는 맨 마지막 레이어에서 빼는 것이 좋다.
# ======================================
model = torch.nn.Sequential(linear1,relu,dropout,
                            linear2,relu,dropout,
                            linear3,relu,dropout,
                            linear4,relu,dropout,
                            linear5).to(device)


# 손실함수와 최적화 함수
loss = torch.nn.L1Loss().to(device) # softmax 내부적으로 계산
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

# 5) Train data로 모델 학습

In [22]:
total_batch = len(data_loader)
for epoch in range(training_epochs):
    avg_cost = 0

    for X, Y in data_loader:

        # (1000, 1, 28, 28) 크기의 텐서를 (1000, 784) 크기의 텐서로 변형
        X = X.to(device)
        # one-hot encoding되어 있지 않음
        Y = Y.to(device)
        #%debug

        # 그래디언트 초기화
        optimizer.zero_grad()
        # Forward 계산
        hypothesis = model(X)
        # Error 계산
        cost = loss(hypothesis, Y)
        # Backparopagation
        cost.backward()
        # 가중치 갱신
        optimizer.step()

        # 평균 Error 계산
        avg_cost += cost / total_batch
        
    if epoch % 10 == 0:
        print('Epoch:', '%04d' % (epoch + 1), 'cost =', '{:.9f}'.format(avg_cost))

print('Learning finished')

Epoch: 0001 cost = 87.664962769
Epoch: 0011 cost = 71.270751953
Epoch: 0021 cost = 68.729202271
Epoch: 0031 cost = 67.149879456
Epoch: 0041 cost = 65.926414490
Epoch: 0051 cost = 64.600875854
Epoch: 0061 cost = 63.219921112
Epoch: 0071 cost = 61.606346130
Epoch: 0081 cost = 59.458930969
Epoch: 0091 cost = 57.138492584
Epoch: 0101 cost = 55.195110321
Epoch: 0111 cost = 53.819671631
Epoch: 0121 cost = 52.139427185
Epoch: 0131 cost = 50.825191498
Epoch: 0141 cost = 49.877094269
Epoch: 0151 cost = 48.947795868
Epoch: 0161 cost = 47.910793304
Epoch: 0171 cost = 46.957229614
Epoch: 0181 cost = 46.277256012
Epoch: 0191 cost = 45.480381012
Epoch: 0201 cost = 44.514865875
Epoch: 0211 cost = 43.821010590
Epoch: 0221 cost = 42.931301117
Epoch: 0231 cost = 42.112861633
Epoch: 0241 cost = 41.467453003
Epoch: 0251 cost = 40.611206055
Epoch: 0261 cost = 39.789932251
Epoch: 0271 cost = 38.988254547
Epoch: 0281 cost = 38.487216949
Epoch: 0291 cost = 37.814502716
Epoch: 0301 cost = 36.934463501
Epoch: 0311 cost = 36.578468323
Epoch: 0321 cost = 35.717510223
Epoch: 0331 cost = 35.282653809
Epoch: 0341 cost = 34.495559692
Epoch: 0351 cost = 33.968368530
Epoch: 0361 cost = 33.341152191
Epoch: 0371 cost = 32.643939972
Epoch: 0381 cost = 32.161888123
Epoch: 0391 cost = 31.507198334
Epoch: 0401 cost = 31.021804810
Epoch: 0411 cost = 30.635353088
Epoch: 0421 cost = 30.018133163
Epoch: 0431 cost = 29.730381012
Epoch: 0441 cost = 28.770624161
Epoch: 0451 cost = 28.514879227
Epoch: 0461 cost = 28.198579788
Epoch: 0471 cost = 27.845367432
Epoch: 0481 cost = 27.152437210
Epoch: 0491 cost = 27.070058823
Learning finished

# 6) Test data 예측 결과

In [23]:
# Test the model using test sets
with torch.no_grad():
    model.eval()  # 주의사항 (dropout=False)
    X_test = x_test.to(device)

    prediction = model(X_test)
prediction

tensor([[ 6.6709e-01],
        [ 4.3525e+02],
        [ 7.8685e+00],
        ...,
        [-7.2776e-05],
        [ 1.1171e+02],
        [ 1.6053e+02]], device='cuda:0')

In [24]:
sample

      index  predict
0         1        0
1         2        0
2         3        0
3         4        0
4         5        0
...     ...      ...
9995   9996        0
9996   9997        0
9997   9998        0
9998   9999        0
9999  10000        0

[10000 rows x 2 columns]

In [25]:
sample['predict'] = prediction.cpu().detach()

In [26]:
# sample = sample.drop('탑승인원', axis = 1)
sample.to_csv('submit.csv', index = None)

In [27]:
sample

      index     predict
0         1    0.667085
1         2  435.245605
2         3    7.868475
3         4  213.277863
4         5   16.846903
...     ...         ...
9995   9996  299.261841
9996   9997  114.062492
9997   9998   -0.000073
9998   9999  111.709747
9999  10000  160.526703

[10000 rows x 2 columns]